/* nosSoinsCss */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bodySoins {
  background-color: rgb(26, 115, 138);
  padding-bottom: 3%;
  padding-left: 18%;
  padding-right: 18%;
  padding-top: 4%;
}

.blocCovid {
  background-color: rgb(26, 115, 138);
  color: white;
  font-family: "Courier New", Courier, monospace;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-left: 18%;
  padding-right: 18%;
}

.covidTxt p {
  font-size: 18px;
}

.covidTxt {
  max-width: 50%;
  padding-top: 30px;
  font-weight: bold;
}

.iconesCovid > img {
  width: 80px;
  padding: 10px;
}

.bodySoinsWhite {
  background-color: white;
  padding: 5%;
  color: rgb(26, 115, 138);
  padding-bottom: 4%;
}

.titre h1 {
  text-align: center;
  font-size: 65px;
  padding-bottom: 7%;
}

.soin h2 {
  text-align: center;
  font-size: 30px;
}

.tarif {
  text-align: center;
  font-size: 23px;
  padding-bottom: 15px;
}

p {
  text-align: center;
  padding-bottom: 60px;
  font-size: 23px;
}
/* CSS page quiSuisJe */
::after,
::before {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.bloc{
    display:flex;
    flex-direction: row;
    align-items: center;
    background-color: rgb(26, 115, 138);
}

.containerQuiSuisJe{
    margin: 0px;
    padding: 30px;
    display: flex;
    width: max-content;
}

#imgQuiSuisJe{
    width: 600px;
    margin-left: 60px;
}
.quiSuisJeTxt{
    text-align: center;
    color: rgb(26, 115, 138);
    background-color: white;
    padding: 30px;
    margin: 60px;
    font-size: 16px;
}

.containerFormation{
    margin: 0px;
    padding: 300px;
    background-color: lightgrey;
}

.quiSuisJeTxt h1{
    color: rgb(26, 115, 138);
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    background-color: white;
    padding: 20px; 
}

.formationTxt h1{
    color: rgb(26, 115, 138);
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    background-color: white;
    padding: 20px; 
}
.formationTxt{
    text-align: justify;
    color: rgb(26, 115, 138);
    background-color: white;
    padding: 90px;
    margin: 30px;
    font-size: 23px;
}
