/* CSS page quiSuisJe */
::after,
::before {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.bloc{
    display:flex;
    flex-direction: row;
    align-items: center;
    background-color: rgb(26, 115, 138);
}

.containerQuiSuisJe{
    margin: 0px;
    padding: 30px;
    display: flex;
    width: max-content;
}

#imgQuiSuisJe{
    width: 600px;
    margin-left: 60px;
}
.quiSuisJeTxt{
    text-align: center;
    color: rgb(26, 115, 138);
    background-color: white;
    padding: 30px;
    margin: 60px;
    font-size: 16px;
}

.containerFormation{
    margin: 0px;
    padding: 300px;
    background-color: lightgrey;
}

.quiSuisJeTxt h1{
    color: rgb(26, 115, 138);
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    background-color: white;
    padding: 20px; 
}

.formationTxt h1{
    color: rgb(26, 115, 138);
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    background-color: white;
    padding: 20px; 
}
.formationTxt{
    text-align: justify;
    color: rgb(26, 115, 138);
    background-color: white;
    padding: 90px;
    margin: 30px;
    font-size: 23px;
}