*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* css nosSoins */
.blocCovid {
  display: none;
}
.bodySoins {
  background-color: rgb(26, 115, 138);
  padding: 6%;
  font-family: "Courier New", Courier, monospace;
  color: rgb(26, 115, 138);
}

.bodySoinsWhite {
  background-color: white;
  padding: 8%;
}

.titre h1 {
  text-align: center;
  font-size: 40px;
  padding-bottom: 10%;
  color: rgb(26, 115, 138);
}

.soin h2 {
  text-align: center;
  font-size: 18px;
}

.tarif {
  text-align: center;
  font-size: 13px;
  padding-bottom: 6%;
}

p {
  text-align: center;
  padding-bottom: 6%;
  font-size: 16px;
}

/* css pour scroll top ici */
