/* body  */


/* css logo */

.presentation {
    background-color: yellow;
}

.nomPrenom{background-color: tomato; display: flex; justify-content: center;font-style: italic;
    size: 2;font-family: 'Courier New', Courier, monospace; align-items: center;flex-direction: column;}
     
.logo { margin-right: 0;width: 45px;height: 45px; }
.menu.a { text-decoration: nan; color:rgb(6, 114, 114) ;font-size: 10px; margin-right: 10px;}
.a.hover { color: white;}


/* button rdv*/
.rendezvous{
   background-color: #25748F;font-family: 'Courier New', Courier, monospace;margin-bottom: 40px;
} 
/*page accuiel*/
.acueil img {max-width: 800px; position: relative; }
.phrasse{position:absolute;top: 200px; display: flex; justify-content: center;font-size: 10px;}

.buttonCarossel{  position: absolute; background-color: transparent; font-size: 20px;}
#btnLeft{ margin-left: 200px;}
#btnRight{margin-right: 200px;     }
.logoReseau{ display: flex;}



/* CSS page quiSuisJe */
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;}

#imgQuiSuisJe{
    width: 100%;
    height: 100%;
    margin: 0%;
    text-align: center; 
}

.containerQuiSuisJe{
    margin: 0px;
    padding: 30px;
    background-color: #25748F;
}

.containerFormation{
    margin: 0px;
    padding: 30px;
    background-color: lightgrey;

}
h1{
    color: #25748F;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    background-color: white;
    padding: 10px;
}

.quiSuisJeTxt, .formationTxt{
    color:#25748F;
    background-color: white;
    text-align: center;
    padding:20px;

}
   

