/* body  */


/* css logo */

.presentation {
    background-color: yellow;
}

.nomPrenom{background-color: tomato; display: flex; justify-content: center;font-style: italic;
    size: 2;font-family: 'Courier New', Courier, monospace; align-items: center;flex-direction: column;}
     
.logo { margin-right: 0;width: 45px;height: 45px; }
.menu.a { text-decoration: nan; color:rgb(6, 114, 114) ;font-size: 10px; margin-right: 10px;}
.a.hover { color: white;}


/* button rdv*/
.rendezvous{
   background-color: #25748F;font-family: 'Courier New', Courier, monospace;margin-bottom: 40px;
} 
/*page accuiel*/
.acueil img {max-width: 800px; position: relative; }
.phrasse{position:absolute;top: 200px; display: flex; justify-content: center;font-size: 10px;}

.buttonCarossel{  position: absolute; background-color: transparent; font-size: 20px;}
#btnLeft{ margin-left: 200px;}
#btnRight{margin-right: 200px;     }
.logoReseau{ display: flex;}

/*Css Formulaire*/

.form{
    font-size: 15px;
    color:#25748F;
}

.formulaire1{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: ;
}

.formulaire2{
    display: flex;
    flex-direction: row;
    padding: 5px;
}

.formulaire3{
    display:flex;
    flex-direction: column;
    align-items: center;
}

input{
    width: 150px;
    height: 20px;
}
.formulaire1, input{
    display: flex;
    justify-content: space-around;  
}

.formulaire2, input{
    display: flex;
    justify-content: space-around;
}
.formObj input{
    width: 320px;
}

.formMessage textarea{
    width: 320px;
    height: 100px;
}

.submit input{
    width: 80px;
    height: 40px;
    display: flex;
    background-color: #25748F;
    border-radius: 5px;

}

input{
    margin: 10px;
}

.submit{
    display: flex;
    justify-content: center;
}

